body {
    font-family: Arial;
    background-color: blueviolet;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}